body{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    flex-direction: column;
    font-family:"Radio Canada Big";
    margin: 0;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-right:200px;
    margin-left: 200px;
    
}

.left-h {
    color: #f9faf9;
    font-weight: 800;
    font-size: 24px;
}
.right-h {
    display: flex;
    
    gap: 20px;
}
.right-h * {
    color: #e5e7eb;
    font-size: 18px;
}

.content {
    height: 300px;
    
}

.hero{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right:200px;
    margin-left: 200px;
    
}
.hero > div {
 width: 50%;
 padding: 15px;

}
.hero h1{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf9;
    margin:2px
}
.hero p {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 20;
    margin: 0;
}
.hero button{
    background-color:  #3882f6;
    color: #e5e7eb;
    width: 100px;
    height: 30px;
    border: #3882f6;
    border-radius: 8px;
    margin-top: 10px;
}


.information{
    background-color: #f9faf9;
}
.information h2{ 
    text-align: center;
    font-size: 36px;
    color: #1f2937;
}